
body {
    background:url('gifs/giphy.gif') no-repeat;
    background-size: cover; 
    height: 500%;
    width: 500%;
}



.playerInput {
 
  background:url('images/deathStar.png') no-repeat;
  width: 120px;
  height: 120px;
  border-style: none;
  display: inline-block;
  border-radius: 95px;
  vertical-align: top;


}
.wrapper {
  width: 400px;
  height: 400px;
  margin-top: 150px;
  margin-left: 500px;

}
.row1 {
  display: inline-block;

}
.row2 {
  display: inline-block; 
}
.row3 {
  display: inline-block;
}






