
body {
  background-color: grey;
}



.playerInput {
 
  border-style: outset;
  width: 100px;
  height: 100px;
  display: inline-block;
}
.wrapper {
  width: 400px;
  height: 400px;
  margin-top: 150px;
  margin-left: 500px;

}
.row1 {
  display: inline-block;
  font-size: 70px;
  color: white;
  vertical-align: top;

}
.row2 {
  display: inline-block; 
  font-size: 70px;
  vertical-align: top;
  color: white;
}
.row3 {
  display: inline-block;
  font-size: 70px;
  vertical-align: top;
  color: white;
}

button {
    vertical-align: top;
    margin-top: 10px;
    border-radius: 45px;
}



